@font-face {
  font-family: 'MonografRegular';
  src: url(../fonts/MonografTextRegular.ttf);
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;

}

.instructions- {
  position: absolute;
  top: 40px;
  left: 55px;
  font-size: 50px;
  font-family: 'MonografRegular',sans-serif;
}
.rectangle-1 {
  position: absolute;
  top: 0px;
  left: 5.05px;
  border-top-right-radius: 10px;
  border-top: 2px solid #fff;
  border-right:2px solid #fff ;
  border-left: none;
  border-bottom: none;
  box-sizing: border-box;
  width: 93.3vw;
  height: 100%;
}
.rectangle-2 {
  position: absolute;
  top: 5.8px;
  left: 0px;
  border-top-right-radius: 10px;
  border-top:2px solid #fff;
  border-right:2px solid #fff ;
  border-left: none;
  border-bottom: none;
  box-sizing: border-box;
  width: 94vw;
  height: 100%;
}
.rectangle-group {
  position: absolute;
  top: 119px;
  left: -21.05px;
  width: 1427.05px;
  height: 1510px;
}
.select-a-language {
  position: absolute;
  top: 198px;
  left: 107px;
  display: inline-block;
  width: 513px;
  height: 54px;
}
.time {
  position: absolute;
  top: 414px;
  left: 296px;
  display: inline-block;
  width: 513px;
  height: 54px;
}
.button-1-border {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 15px;
  border: 3px solid #fff;
  box-sizing: border-box;
  width: 210px;
  height: 79px;
}
.c {
  position: absolute;
  top: 16px;
  left: 64px;
  display: inline-block;
  width: 81px;
  height: 47px;
}
.button-1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 210px;
  height: 79px;
  /*  */
  border: 2px solid white;
  border-radius: 20px;
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  font-size: 30px;
  font-family: "MonografRegular",sans-serif;
  transition: all 0.3s linear;
}
.button-1:hover{
  background-color: white;
  color: black;
}
button.clicked{
  border-color: white;
  color:black;
}
button.active {
  border-color: red;
  color:red;
}

.button-2-border {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 15px;
  border: 3px solid #ff0000;
  box-sizing: border-box;
  width: 210px;
  height: 79px;
}
.button-3-border {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 15px;
  border: 3px solid #fff;
  box-sizing: border-box;
  width: 210px;
  height: 79px;
}
.java {
  position: absolute;
  top: 16px;
  left: 64px;
  display: inline-block;
  width: 112px;
  height: 47px;
}
.python {
  position: absolute;
  top: 16px;
  left: 47px;
  color: #fff;
  display: inline-block;
  width: 161px;
  height: 47px;
}
.button-2 {
  position: absolute;
  top: 0px;
  left: 351px;
  width: 210px;
  height: 79px;
/*  */
  border: 2px solid white;
  border-radius: 20px;
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  font-size: 30px;
  font-family: "MonografRegular",sans-serif;
  transition: all 0.3s linear;
}
.button-2:hover{
  background-color: white;
  color: black;
}

.button-3 {
  position: absolute;
  top: 0px;
  left: 702px;
  width: 210px;
  height: 79px;
/*  */
  border: 2px solid white;
  border-radius: 20px;
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  font-size: 30px;
  font-family: 'MonografRegular',sans-serif;
  transition: all 0.3s linear;
}
.button-3:hover{
  background-color: white;
  color: black;
}
.button-lang {
  position: absolute;
  top: 278px;
  left: 191px;
  width: 908px;
  height: 79px;
  font-size: 40px;
}
.line-vertical-slang {
  position: absolute;
  top: 243px;
  left: 133px;
  border-right: 2px solid #fff;
  box-sizing: border-box;
  width: 2px;
  height: 1114px;
}
.line-horizontal-time {
  position: absolute;
  top: 433.99px;
  left: 133.99px;
  border-top: 2px solid #fff;
  box-sizing: border-box;
  width: 150.01px;
  height: 2px;
}
.text-power-ups {
  position: absolute;
  top: 788px;
  left: 296.01px;
  display: inline-block;
  width: 513px;
  height: 53px;
}
.line-horizontal-pwrup {
  position: absolute;
  top: 807.99px;
  left: 135px;
  border-top: 2px solid #fff;
  box-sizing: border-box;
  width: 150.01px;
  height: 2px;
}
.cant-return-to {
  color: #ff0000;
}
.text-warning1 {
  position: absolute;
  top: 1225px;
  left: 296px;
  display: inline-block;
  width: 987px;
  height: 53px;
}
.line-horizontal-warning1 {
  position: absolute;
  top: 1244.99px;
  left: 135px;
  border-top: 2px solid #fff;
  box-sizing: border-box;
  width: 150.01px;
  height: 2px;
}
.text-warning2 {
  position: absolute;
  top: 1335px;
  left: 295px;
  display: inline-block;
  width: 987px;
  height: 53px;
}
.line-horizontal-warning2 {
  position: absolute;
  top: 1354.99px;
  left: 134px;
  border-top: 2px solid #fff;
  box-sizing: border-box;
  width: 150.01px;
  height: 2px;
}
.text-total-questions {
  position: absolute;
  top: 0px;
  left: 161.01px;
  display: inline-block;
  width: 513px;
  height: 54px;
}
.line-horizontal-tque {
  position: absolute;
  top: 19.99px;
  left: -1px;
  border-top: 2px solid #fff;
  box-sizing: border-box;
  width: 150.01px;
  height: 2px;
}
.easy-tq-container {
  position: absolute;
  top: 26.5px;
  left: 79px;
  display: inline-block;
  width: 216px;
  height: 54px;
  color: #00ff19;
}
.line-vertical-tq {
  position: absolute;
  top: 0px;
  left: -0.5px;
  width: 2px;
  height: 162px;
  border-right: 2px solid #ffffff;
  box-sizing: border-box;
}
.line-horizontal-tq-easy {
  position: absolute;
  top: 42.5px;
  left: -1px;
  border-top: 2px solid #fff;
  box-sizing: border-box;
  width: 72px;
  height: 2px;
}
.line-horizontal-tq-medium {
  position: absolute;
  top: 86.5px;
  left: 77px;
  display: inline-block;
  width: 195px;
  height: 54px;
  color: #faff00;
}
.pts1 {
  position: absolute;
  top: 86.5px;
  left: 309px;
}
.pts2 {
  position: absolute;
  top: 141.5px;
  left: 308px;
}
.pts3 {
  position: absolute;
  top: 26.5px;
  left: 308px;
}
.line-horizontal-tq-hard {
  position: absolute;
  top: 102.5px;
  left: -1px;
  border-top: 2px solid #fff;
  box-sizing: border-box;
  width: 69px;
  height: 2px;
}
.hard-5-container {
  position: absolute;
  top: 145.5px;
  left: 77px;
  display: inline-block;
  width: 207px;
  height: 54px;
  color: #ff0000;
}
.group-child11 {
  position: absolute;
  top: 161.5px;
  left: -1px;
  border-top: 2px solid #fff;
  box-sizing: border-box;
  width: 69px;
  height: 2px;
}
.easy-tq-parent {
  position: absolute;
  top: 53.5px;
  left: 174px;
  width: 395px;
  height: 199.5px;
}
.total-questions {
  position: absolute;
  top: 502px;
  left: 137px;
  width: 674.01px;
  height: 253px;
}
.pts4 {
  position: absolute;
  top: 977px;
  left: 806px;
}
.pts5 {
  position: absolute;
  top: 1032px;
  left: 805px;
}
.pts6 {
  position: absolute;
  top: 917px;
  left: 805px;
}
.min {
  color: #fff;
}
.easy-10-container {
  position: absolute;
  top: 26px;
  left: 79px;
  display: inline-block;
  width: 191px;
  height: 54px;
}
.line-vertical-pwrup-sque {
  position: absolute;
  top: 0px;
  left: -0.5px;
  width: 2px;
  height: 159.5px;
  border-right: 2px solid #ffffff;
  box-sizing: border-box;

}
.line-horizontal-sque-easy {
  position: absolute;
  top: 42px;
  left: 0px;
  border-top: 2px solid #fff;
  box-sizing: border-box;
  width: 69px;
  height: 2px;
}
.medium-20-container {
  position: absolute;
  top: 86px;
  left: 77px;
  display: inline-block;
  width: 229px;
  height: 54px;
  color: #faff00;
}
.line-horizontal-sque-medium {
  position: absolute;
  top: 102px;
  left: -1px;
  border-top: 2px solid #fff;
  box-sizing: border-box;
  width: 69px;
  height: 2px;
}
.hard-35-container {
  position: absolute;
  top: 142px;
  left: 77px;
  display: inline-block;
  width: 246px;
  height: 54px;
  color: #ff0000;
}
.line-horizontal-sque-hard {
  position: absolute;
  top: 159px;
  left: -1px;
  border-top: 2px solid #fff;
  box-sizing: border-box;
  width: 69px;
  height: 2px;
}
.pwrup-sque-parent {
  position: absolute;
  top: 890px;
  left: 433px;
  width: 323px;
  height: 196px;
  color: #00ff19;
}
.solve-questions-in {
  position: absolute;
  top: 835.96px;
  left: 392px;
  display: inline-block;
  width: 513px;
  height: 53.8px;
}
.line-vertical-pwrup {
  position: absolute;
  top: 829px;
  left: 311.56px;
  width: 2px;
  height: 310px;
  border-right: 2px solid #fff;
  box-sizing: border-box;
}
.desktop-2-child3 {
  position: absolute;
  top: 851.9px;
  left: 312px;
  border-top: 2px solid #fff;
  box-sizing: border-box;
  width: 72px;
  height: 2px;
}
.hint-2-container {
  position: absolute;
  top: 1122px;
  left: 392px;
  display: inline-block;
  width: 513px;
  height: 53.8px;
}
.line-horizontal-hint {
  position: absolute;
  top: 1137.94px;
  left: 312px;
  border-top: 2px solid #fff;
  box-sizing: border-box;
  width: 69px;
  height: 2px;
}
.button-next {
  position: absolute;
  top: 1457px;
  left: 1248px;
  width: 67px;
  height: 67px;
}

.container {
  position: relative;
  background-color: #000;
  width: 100%;
  height:1580px;

  overflow: hidden;
  text-align: left;
  font-size: 30px;
  color: #fff;
  font-family: 'MonografRegular',sans-serif;
}

/*next button*/

.icon{
  /*top:1457px;*/
  /*left: 1248px;*/
  position: absolute;
  top: 1457px;
  left: 1248px;
  width: 80px;
  height:80px;
  /*display: flex;*/
  /*justify-content: right;*/
  /*align-items: center;*/
}
.circle1{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  cursor: pointer;
}
.circle1:hover{
  background-color: #FFFFFF;
  border: 1px solid #000000;
}
.circle2{
  width: 70px;
  height: 70px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.1s;
}
.circle1:hover .circle2{
  background-color: #FFFFFF;
  border: 1px solid #000000;
}
.circle1:hover .circle2 .white{
  color: #000000;
}
.white{
  color: #FFFFFF;
  font-size: 30px;
}
a{
  text-decoration: none;
}
