@font-face {
    font-family: 'MonografRegular';
    src: url(../fonts/MonografRegular.ttf);
    font-weight: 700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.green{
    color: #00FF19;
    font-size: 50px;
}
.appreciate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40%;
    margin: 30px;
    flex-direction: column;
}
h1{
    color: white;
    font-weight: 700;
    font-family: 'MonografRegular', sans-serif;
}
.name{
    width: fit-content;
}
